.leftMenu {
  height: calc(100vh - 64px);

  .menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 0.2s all linear;
  }

  // .subMenu {
  //   span {
  //     color: #f0b90b;
  //   }

  //   &:hover {
  //     color: #f0b90b;
  //   }
  // }
  // .menuItem {
  //   &:hover {
  //     color: #f0b90b !important;
  //   }
  // }
}
